<h3 class="text-center">Posts</h3>
<div class="list-group">
  <% if Post.not_comments.any? %>
    <% Post.not_comments.each do |post| %>
      <%= link_to post.title, post_path(post), class: "list-group-item text-center" %>
    <% end %>
  <% end %>
</div>

<%= content_for :nav do %>
  <%= render "nav_content" %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="list-group nav-group">
      <%= link_to 'New Post', new_post_path, class: "list-group-item" %>
    </div>
  <% end %>
<% end %>
