<h1 class="text-center">New Post</h1>

<%= render 'form' %>

<%= content_for :nav do %>
  <%= render "nav_content" %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="list-group nav-group">
      <%= link_to 'New Post', new_post_path, class: "list-group-item" %>
    </div>
  <% end %>
<% end %>
