<h3 class="text-center">Categories</h3>
<div class="list-group">
  <% if Category.all.any? %>
    <% Category.all.each do |category| %>
      <%= link_to category.language, category_path(category), class: "list-group-item text-center" %>
    <% end %>
  <% end %>
</div>



<%= content_for :nav do %>
  <%= render 'nav_content' %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="list-group nav-group">
      <%= link_to "Add a Category",
          new_category_path,
          class: "list-group-item" %>
    </div>
  <% end %>
<% end %>
