<h3> <%= @category.language %></h3>
<p>
  <div class="btn-group btn-group-sm btn-group-justified">
    <%= link_to "Edit #{@category.language}",
        edit_category_path(@category),
        class: "btn btn-info" %>
    <%= link_to "Delete Category",
        category_path(@category),
        class: "btn btn-danger",
        data: { confirm: "Are you sure?" },
        method: :delete %>
  </div>
</p>
<p>
  <%= @category.description %>
</p>
